<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="internal-nlog.txt">

	<!-- Define targets (where logs go) -->
	<targets>
		<!-- Log file (daily rolling) -->
		<target xsi:type="File" name="allfile" fileName="logs/BreweryService-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}" />

		<!-- Console output -->
		<target xsi:type="Console" name="console" />
	</targets>

	<!-- Rules: which log levels go to which targets -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="allfile,console" />
	</rules>
</nlog>
